*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
/* background */
body{
    display:grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
main{
    width: 90%;
    gap: 2em;
    background-color: var(--Dark-Blue);
    color: #fff;
    
}
.rating-card{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em;
    gap: 3em;
}

.thankyou-card{
    display:none;
}
.star{
    border: 1rem solid var(--Dark-Blue);
    border-radius: 50%;
}
.rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    list-style: none;
}
.title{
    font-size: 1rem;
}
.support-text{
    font-size:0.8rem
}